@model Project.Models.Customer
@{
    ViewBag.Title = "User_Profile";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Limo is a valid html5 CSS3 One Page Template and integrated with bootstrap." >
	<meta name="keywords" content="CodexCoder,HTML5,CSS3,bootstrap,JavaScript,One Page Template">
	<meta name="author" content="CodexCoder">

	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lightbox.min.css">

	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.mixitup.min.js"></script>
	<script src="~/Scripts/custom.js"></script>
	
</head>
<body>

    <section id="aboutus">
	<div class="container-full">
		<div class="container">
            
			<div id="aboutusleft" class="col-xs-6">
				<div class="heading">
					<h3></h3>
				</div>
				<p>
                   
					<h3>Welcome </h3> to your User Profile. You can edit your profile. 
				</p>	
			</div> <!-- /#aboutusleft -->
            </div> <!-- /.container -->
		<div class="clear-bottom"></div>
	</div> <!-- /.container-full -->
</section><!-- /.aboutus -->

</body>
</html>