@{
    ViewBag.Title = "Hotel";
    Layout = "~/Views/Shared/_Layout6.cshtml";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Limo is a valid html5 CSS3 One Page Template and integrated with bootstrap." >
	<meta name="keywords" content="CodexCoder,HTML5,CSS3,bootstrap,JavaScript,One Page Template">
	<meta name="author" content="CodexCoder">

	<title>Hotel</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lightbox.min.css">

	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.mixitup.min.js"></script>
	<script src="~/Scripts/custom.js"></script>
	
</head>
<body>
	@*<header id="header">
		<section id="headnev" class="navbar topnavbar" >		
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a href="/Home/Index" class="navbar-brand header">Tour Manager</a>
				</div> <!-- /.navbar-header -->

				<div class="collapse navbar-collapse">
					<ul class="nav pull-right navbar-nav">
						<li><a class="portfolio" href="/Home/Index">Home</a></li>
                        <li><a class="portfolio" href="/User_Profile/Index">+You</a></li>
						
					</ul>
				</div> <!-- /.collapse /.navbar-collapse -->
			</div> <!-- /.container -->	
		</section><!-- /#headnev -->
	</header><!-- /#Header-->*@

    <section id="team">
	<div class="container-full">

		<div class="clear-top"></div>

		<div class="container">
            <center>
                <table>
                    <tr>
                        <td ><h3>Following hotels have offered tour on our website</h3></td>
                    </tr>
			    </table>
            </center>
			<div class="clear-top"></div>
			
			<ul>
				<li class="col-xs-3">
					<div class="stafcontainer">

						<div class="staf">
							<div class="avatar">
								<a href="/Hotel/Merriott"><img src="~/Images/Marriott_hotels_logo14.svg.png" alt="Avatar Team"></a>
							</div>
							<h5 class="text-center">Marriott</h5>
							<h6 class="text-center"></h6>
							<p>
								The 5-star Islamabad Marriott Hotel provides high speed wireless internet, an indoor pool and a fitness center. Pampering spa treatments with separate male and female lounges are also available.
                                <br /><br /><br />
							</p>
						</div> <!-- /.staf -->

						

					</div> <!-- /.stafcontainer -->
				</li><!-- /.col-xs-3 -->

				<li class="col-xs-3">
					<div class="stafcontainer">

						<div class="staf">
							<div class="avatar">
								<a href="/Hotel/Avari"><img src="~/Images/avari-towers-logo.png" alt="Avatar Team"></a>
							</div>
							<h5 class="text-center">Avari</h5>
							<h6 class="text-center"></h6>
							<p>
								The 5-star Islamabad Avari Hotel provides high speed wireless internet, an indoor pool and a fitness center. Pampering spa treatments with separate male and female lounges are also available.
                                <br /><br /><br />
							</p>
						</div> <!-- /.staf -->

						

					</div> <!-- /.stafcontainer -->
				</li><!-- /.col-xs-3 -->

				<li class="col-xs-3">
					<div class="stafcontainer">

						<div class="staf">
							<div class="avatar">
								<a href="/Hotel/Royal"><img src="~/Images/royal-palm.png" alt="Avatar Team"></a>
							</div>
							<h5 class="text-center">Royal Palm</h5>
							<h6 class="text-center"></h6>
							<p>
								The 5-star Islamabad Royal Palm Hotel provides high speed wireless internet, an indoor pool and a fitness center. Pampering spa treatments with separate male and female lounges are also available.
                                <br /><br /><br />
							</p>
						</div> <!-- /.staf -->

						

					</div> <!-- /.stafcontainer -->
				</li><!-- /.col-xs-3 -->


                <li class="col-xs-3">
					<div class="stafcontainer">

						<div class="staf">
							<div class="avatar">
								<a href="/Hotel/Pearl"><img src="~/Images/pc.png" alt="Avatar Team"></a>
							</div>
							<h5 class="text-center">Pearl Continental</h5>
							<h6 class="text-center"></h6>
							<p>
								The 5-star Pearl Continental Hotel, Rawalpindi offers an outdoor pool, extensive spa services and a fitness centre. Free Wi-Fi and fruit baskets are included in rooms, and a free 2-way transfer is provided to and from Islamabad International Airport.
                                <br /><br /><br />
							</p>
						</div> <!-- /.staf -->

						

					</div> <!-- /.stafcontainer -->
			</ul>
		</div> <!-- /.container -->
	</div><!-- /.container-full -->
</section><!-- /#team -->

@*<section id="footer">
	<footer class="container-full">
		<div class="container">
			<div class="col-md-3">
				<h4>Flicker</h4>
				<a href="#"><img src="img/footer1.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer2.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer3.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer3.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer1.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer2.jpg" alt="Footer Image"></a>
			</div>
			<div class="col-md-3">
				<h4>Contact info</h4>
				<p>
					Cell: +923334379865 <br>
					Phone:+4237889235 
				</p>
				<p>
					E-mail: <a href="mailto:mcsf13m026@pucit.edu.pk">mcsf13m026@pucit.edu.pk</a><br>
					web:<a href="www.tourmanager.com">www.tourmanager.com</a><br>
				</p>
				<p>
					Address: Peko Road Town Ship<br>
					Lahore Pakistan
				</p>
			</div>
			<div class="col-md-3">
				<h4>Recent Post</h4>
				<ul class="recent-post">
					<li><a href="#">Recent News Click here</a></li>
					<li><a href="#">Recent Post Click here</a></li>
					<li><a href="#">Recent PostClick here</a></li>
					<li><a href="#">Recent Post Click here</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Social Update</h4>
				<div class="social-icons">
					<ul>
					
						<li class="facebook">
							<a href="http://www.facebook.com/codexcoderltd" target="_blank"><img src="~/Images/facebook-logo1.png" width="10" height="10" /></a>
						</li><!-- /.facebook -->

						<li class="twitter">
							<a href="http://twitter.com/codexcoder" target="_blank"><img src="~/Images/Gmail_Icon.png" width="10" height="10" /></a>
						</li> <!-- /.twitter -->

						<li class="googleplus">
							<a href="https://plus.google.com/104006364028285911315/posts" target="_blank"><img src="~/Images/skype.png" width="10" height="10" /></a>
						</li><!-- /.googleplus -->

						<li class="linkedin">
							<a href="http://bd.linkedin.com/in/codexcoder" target="_blank"><img src="~/Images/Twitter_logo.png" width="5" height="5" /></a>
						</li><!-- /.linkedin -->

					</ul>
				</div> <!-- /.social-icons -->

			</div> <!-- /.col-md-3 -->
		</div> <!-- /.container -->

		<div class="clear-bottom copyright">
			<p>&copy; Copyright 2015, All Rights Reserved. Designed and Developed by <a href="http:mcsf13m02@pucit.edu.pk">Bazigha Naim</a></p>
		</div> <!-- /.clear-bottom /.copyright -->

	</footer> <!-- /.container-full -->
</section> <!-- /.footer -->*@

    </body>
    </html>