
@{
    ViewBag.Title = "Pearl";
    Layout = "~/Views/Shared/_Layout7.cshtml";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Limo is a valid html5 CSS3 One Page Template and integrated with bootstrap." >
	<meta name="keywords" content="CodexCoder,HTML5,CSS3,bootstrap,JavaScript,One Page Template">
	<meta name="author" content="CodexCoder">

	<title>Tour Manager</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lightbox.min.css">

	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.mixitup.min.js"></script>
	<script src="~/Scripts/custom.js"></script>
	
</head>
<body>
	@*<header id="header">
		<section id="headnev" class="navbar topnavbar" >		
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a href="/Home/Index" class="navbar-brand header">Tour Manager</a>
				</div> <!-- /.navbar-header -->

				<div class="collapse navbar-collapse">
					<ul class="nav pull-right navbar-nav">
						<li><a class="header" href="/Home/Index">Home</a></li>
                        <li><a class="portfolio" href="/Hotel/Index">Hotel</a></li>
						
                        <li><a class="portfolio" href="/User_Profile/Index">+You</a></li>
					</ul>
				</div> <!-- /.collapse /.navbar-collapse -->
			</div> <!-- /.container -->	
		</section><!-- /#headnev -->
	</header><!-- /#Header-->*@


	<section id="somework">
	<div class="worksection">
		<div class="container-full">

			<div class="works">
				<div class="container">
					<h3>Image Gallery</h3>
				</div>
			</div> <!-- /.works -->

			<div class="container">
				<div class="works-img">
					<div id="work-slide" class="carousel slide">

						<div class="slide2nev">
							<a class="carousel-control left" href="#work-slide" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
							<a class="carousel-control right" href="#work-slide" data-slide="next"><i class="fa fa-chevron-left"></i></a>
						</div> <!-- /.slide2nev -->

							<!-- Slider items -->
							<div class="carousel-inner">

								<div class="active item">

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/1 (1).jpg" width="200" height="200" alt="9">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/2527244457_f8d6e66c60_b.jpg" width="200" height="200" alt="2">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/2a.jpg" width="200" height="200" alt="5">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/banquets (1).jpg" width="200" height="200" alt="2">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

								</div> <!-- /.active /.item -->

								<div class="item">

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/26_pc_hotel_gwadar_2.jpg" width="200" height="200" alt="6">
											<figcaption>
												<h4>Touch your Career</h4>
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/banquets.jpg" width="200" height="200" alt="1">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/banquets (2).jpg" width="200" height="200" alt="7">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/main.jpg" width="200" height="200" alt="3">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

								</div> <!-- /.item -->

								<div class="item">

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/meetings.jpg" width="200" height="200" alt="9">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/pearl-continental-lahore.jpg" width="200" height="200" alt="6">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/resturants.jpg" width="200" height="200" alt="8">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

									<div class="col-sm-3">
										<figure>
											<img src="~/Images/services.jpg" width="200" height="200" alt="7">
											<figcaption>
												
											</figcaption>							
										</figure>	
									</div>

								</div> <!-- /.item -->

							</div>  <!-- /.carousel-inner -->
						<!--/.carousel -->

					</div> <!-- /#work-slide -->
				</div> <!-- /.works-img -->
			</div> <!--/.container-->
		</div> <!-- /.container-full -->
	</div> <!-- /.worksection -->
</section><!-- /#somework -->

    @*<section id="footer">
	<footer class="container-full">
		<div class="container">
			<div class="col-md-3">
				<h4>Flicker</h4>
				<a href="#"><img src="img/footer1.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer2.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer3.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer3.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer1.jpg" alt="Footer Image"></a>
				<a href="#"><img src="img/footer2.jpg" alt="Footer Image"></a>
			</div>
			<div class="col-md-3">
				<h4>Contact info</h4>
				<p>
					Cell: +923334379865 <br>
					Phone:+4237889235 
				</p>
				<p>
					E-mail: <a href="mailto:mcsf13m026@pucit.edu.pk">mcsf13m026@pucit.edu.pk</a><br>
					web:<a href="www.tourmanager.com">www.tourmanager.com</a><br>
				</p>
				<p>
					Address: Peko Road Town Ship<br>
					Lahore Pakistan
				</p>
			</div>
			<div class="col-md-3">
				<h4>Recent Post</h4>
				<ul class="recent-post">
					<li><a href="#">Recent News Click here</a></li>
					<li><a href="#">Recent Post Click here</a></li>
					<li><a href="#">Recent PostClick here</a></li>
					<li><a href="#">Recent Post Click here</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Social Update</h4>
				<div class="social-icons">
					<ul>
					
						<li class="facebook">
							<a href="http://www.facebook.com/codexcoderltd" target="_blank"><img src="~/Images/facebook-logo1.png" width="10" height="10" /></a>
						</li><!-- /.facebook -->

						<li class="twitter">
							<a href="http://twitter.com/codexcoder" target="_blank"><img src="~/Images/Gmail_Icon.png" width="10" height="10" /></a>
						</li> <!-- /.twitter -->

						<li class="googleplus">
							<a href="https://plus.google.com/104006364028285911315/posts" target="_blank"><img src="~/Images/skype.png" width="10" height="10" /></a>
						</li><!-- /.googleplus -->

						<li class="linkedin">
							<a href="http://bd.linkedin.com/in/codexcoder" target="_blank"><img src="~/Images/Twitter_logo.png" width="5" height="5" /></a>
						</li><!-- /.linkedin -->

					</ul>
				</div> <!-- /.social-icons -->

			</div> <!-- /.col-md-3 -->
		</div> <!-- /.container -->

		<div class="clear-bottom copyright">
			<p>&copy; Copyright 2015, All Rights Reserved. Designed and Developed by <a href="http:mcsf13m02@pucit.edu.pk">Bazigha Naim</a></p>
		</div> <!-- /.clear-bottom /.copyright -->

	</footer> <!-- /.container-full -->
</section> <!-- /.footer -->*@
    </body>
    </html>
